#about.vcard
  %h4 About the author
  %img{:src => "http://s3.amazonaws.com/twitter_production/profile_images/280124623/Photo-69_normal.png"}
  %p
    %span.fn Ben Schwarz
    is web architect hailing from
    %span.locality Melbourne
    who has a strong focus on user experience and scalable content delivery.
    %br
    These interests overflow into his programming and development work that he has conducted over the past 9 years.
    %span.source
      contact via 
      %a{:href => entity_encode("mailto:ben.schwarz@gmail.com"), :title => "Send an email to the author of this site"} email
      or
      %a{:href => "/about", :title => "Read more about the author of this site"} read more