#cc
  %h4 Creative commons licence
  %p 
    All content herein by Ben Schwarz unless otherwise noted. Licence: Creative Commons, by
    %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/", :rel => "license"} nc-sa