#cc
  %h4 Creative commons license
  %p 
    All content herein by Ben Schwarz unless otherwise noted. License: Creative Commons, by
    %a{:href => "http://creativecommons.org/licenses/by-nc-sa/3.0/", :rel => "external, license"} nc-sa