#elsewhere.column.one
  %h4 Elsewhere
  %ul.bullet
    %li
      %a{:href => "http://twitter.com/benschwarz", :rel => "external"} Twitter
    %li
      %a{:href => "http://github.com/benschwarz", :rel => "external"} Github
    %li
      %a{:href => "http://flickr.com/photos/benschwarz", :rel => "external"} Flickr
    %li
      %a{:href => "http://slideshare.com/benschwarz", :rel => "external"} Slideshare
    %li
      %a{:href => "http://delicious.com/bschwarz", :rel => "external"} Delicious
    %li
      %a{:href => "http://upcoming.yahoo.com/user/908522/", :rel => "external"} Upcoming
    %li
      %a{:href => "http://last.fm/user/benschwarz", :rel => "external"} Last.fm