#elsewhere
  %h4 Elsewhere
  %ul
    %li
      %a{:href => "http://twitter.com/benschwarz"} Twitter
    %li
      %a{:href => "http://github.com/benschwarz"} Github
    %li
      %a{:href => "http://flickr.com/photos/benschwarz"} Flickr
    %li
      %a{:href => "http://slideshare.com/benschwarz"} Slideshare
    %li
      %a{:href => "http://delicious.com/bschwarz"} Delicious
    %li
      %a{:href => "http://upcoming.yahoo.com/user/908522/"} Upcoming
    %li
      %a{:href => "http://last.fm/user/benschwarz"} Last.fm