%header
  %h1 About
  %nav
    %a{:href => "/", :title => "Life stream"} Home
    %a{:href => "/writings", :title => "Articles that Ben Schwarz has written"} Writings
  

%section#content
  :markdown 
    Ben Schwarz is web architect hailing Melbourne who has a strong 
    focus on user experience and scaleable content delievery. These
    interests overflow into his programming and development work that
    he has conducted over the past 9 years.
    
    