%a{:href => '/', :id => "home"} &larr; Home

%header
  %h1 About the author

%section#content.about
  .column.eight
    :smartypants
      ## Personal
      ![Me](/images/me.png)
      
      I was born and still live in Melbourne, Australia. However I have aspirations to travel the world and live subsidised entirely via a laptop.  
      
      Here in Melbourne I work for myself, the company name is completely uninteresting (Ben Schwarz Pty Ltd), however; I love what I do and constantly strive to improve my process and knowledge. 

      Currently, I manage projects using something _like_ agile and most of development work is conducted using BDD and/or TDD, depending on the flavor of project.

      My language of choice is Ruby, however my skills cross the chasm of various open source technologies and front end development.

      Previously, I've worked in environments where the particular focus has been _"humane design"_, this is something that resonates very well with the minimal approach that I like to bring to my processes - _"Simple, beautiful, user results"_.

      If you have a project in mind please feel free to drop me a line to discuss. If I can't help you chances are I'll know someone who can.
  
  .column.three
    #special-projects
      :smartypants
        ## Special projects
        Apart from my personal work I also operate [AB+C](http://ab-c.com.au), alongside [Anthony Kolber](http://aestheticallyloyal.com). Together we are building [Ffolio](http://ffolio.net), a free portfolio service for artists and designers to gain beautiful, professional looking web representation.
    .colophon.note.two
      :smartypants
        Colophon: In part, you can read about [how this site came to be](/articles/growing-up-with-a-new-site) within my opening post.
    
    