%header
  %h1 My web site is just taking a quick rest
  
%section#content
  %h2 
    :markdown 
      Check back later. In the mean time watch [this](http://www.youtube.com/watch?v=N0gb9v4LI4o) wonderful video