<article class="single">
  <header>
    <blockquote>
      <h1><span>&#8220;</span>Fucking massive titles often look pretty awesome in Garamond, or perhaps even Georgia<span>&#8221;</span></h1>
      <span class="attribution">posted by <a href="/about" rel="author">Ben Schwarz</a>
    </blockquote>
  </header>
  
  <time datetime="2008-02-14">Wednesday, 12<span class="fakecaps">th</span> of  August, 2007</time>

  <section id="content">
  
  </section>
</article>
