%header
  %h1
    %a{:href => "/", :rel => "index"} Ben Schwarz
  %nav
    %a{:href => "/writings", :title => "Articles that Ben Schwarz has written"} Writings
    %a{:href => "/about", :title => "About Ben Schwarz"} About

%section#content

  = @stream.inspect
  - for item in @stream
    = haml :_tweet, :item => item if item[:source] == "twitter"
    = haml :_link, :item => item if item[:source] == "delicious"
    = haml :_image, :item => item if item[:source] == "flickr"