body { font-family: Georgia; }
#wrapper { width: 960px; margin: 100px auto 0 auto; overflow: auto; }
img { display: block; }
.fakecaps { font-size: 50%; text-transform: uppercase; font-variant: small-caps; vertical-align: text-top; }

header { display: block; margin-left: 40px; margin-bottom: 65px; text-shadow: white 1px 1px 1px; }
h1 { font-size: 2em; font-weight: normal; font-style: italic; color: #FF3300; line-height: 1.8em;  }
h1 a { background-color: #FF3300; text-decoration: underline; color: white; }
h2 { color: #FF3300; font-size: 1.1em; font-weight: normal; margin-bottom: 30px; }
blockquote { text-indent: -0.5em; }

section, footer { display: block; }
section#content { margin-left: 40px; line-height: 1.5em; font-size: 0.8em; min-height: 300px; }
section#content p { margin: 0 0 1em 0; }
section#content ul { clear: both; margin-bottom: 2em; }
section#content .articles .source { text-align: right; }

.column { float: left; margin-right: 20px; }
.one { width: 100px; }
.two { width: 160px; }
.three { width: 220px; }
.four { width: 340px; }
.five { width: 400px; }
.six { width: 460px; }
.seven { width: 520px; }
.eight { width: 580px; }

#content .note p { font-size: 0.8em; color: #999; line-height: 1.6em; font-style: italic; }
#content .note p a { color: #666; }
#content blockquote { font-size: 150%; font-style: italic; color: #999; margin: 1em 0; padding: 0.7em 0 0.7em 1.2em; border-top: double; border-bottom: double; margin: 0 0.5em 0 0; text-indent: 0; }

.column ul.bullet { margin-left: -0.7em; margin-bottom: 1.5em; }
.column li { margin-bottom: 1.5em; }
.column .bullet li { margin-bottom: 0; }
.column .bullet li:before { content: "\00BB \0020"; color: #666; }
.column li a { color: #FF3300; }

section#content img { margin: 5px 10px 0 -7px; }
section#content span.source { color: #999; font-style: italic; }
section#content span.source a { color: #FF3300; }

section#content h3 { text-transform: uppercase; font-weight: normal; text-decoration: underline; letter-spacing: 0.1em; color: #333; display: inline-block; margin-top: 0.7em; }

section#content li,
section#content a,
section#content p { color: #333333; }

section.about img + * { margin-top: 2em; }

section#footer { line-height: 1.1em; background-color: black; overflow: hidden; margin-top: 40px; padding-bottom: 25px; }
section#footer section { width: 920px; margin: 0 auto; padding: 20px 0px 0px 40px; }
section#footer h4 { color: #FF3300; font-weight: normal; font-style: italic; text-transform: lowercase; font-size: 1.2em; margin-bottom: 25px; }
section#footer p, 
section#footer li { color: #CCC; font-size: 0.8em; }
section#footer a { color: #FF3300; }

section#footer #about img { float: left; margin: 0 0 4px -5px; }
section#footer #elsewhere ul { margin-left: -0.5em; }
section#footer #elsewhere li:before { color: #666; }
section#footer #cc h4 { background: no-repeat url("/images/cc.png"); text-indent: -9999px; height: 26px; margin-bottom: 18px; }

section#footer span.source { color: #666; }

article { position: relative; display: block; }
article h1 { display: inline; }
article span.attribution { color: #ccc; font-size: 0.8em; font-style: italic; }
article span.attribution time { color: #999; }
article section#content { margin-top: 120px; }
article section#content img { margin-bottom: 1.5em; }

article section ul { margin-top: 1em; margin-bottom: 1em; }
article section .column ul li { margin-bottom: 0.5em; list-style-type: decimal; }

code { font-size: 120%; background-color: #ccc; padding: 0.1em 0.3em; }

#wrapper #home { position: absolute; top: 30px; margin-left: 40px; font-size: 0.7em; color: #999; text-decoration: none; font-style: italic; }
article section#content h2 { margin: 2em 0 0 0; display: block; }
article section#content h3 { color: #666; font-size: 0.8em; font-style: italic; }
section#content p a { text-transform: uppercase; font-weight: normal; text-decoration: underline; letter-spacing: 0.1em; color: #333; font-size: 0.8em; }

#special-projects { color: #666; margin-bottom: 115px; }

section#content dt { font-style: italic; color: #999; }
section#content dd { margin-left: 10em; margin-top: -1.5em; margin-bottom: 3em; }
section#content dd h3 { margin-top: 0;}