-# title: A new site
-# published: 2009-07-31

:markdown
  Looking back, my representation on the web has always been pretty half assed. In January, [Tim Lucas](http://toolmantim.com) pulled together a shiny new site and boosted his article quality dramatically. I thought "he's doing it right", I really wanted to get my action together.
  ### Shiny object syndrome
  That was January, here I sit the day before August staring into textmate typing the first article I've written in almost 2 years, I haven't even bothered to move those old ones. It wasn't worth it.
  
  This year I've made more open source releases and contributions than ever before, I've lapped up various technologies and concepts, wrote my first DSL with ruby and felt like I was pushing through to another level, mentally. 
  
  Its not hard to say that leaving my salary paying job and moving to consulting was one of the best things I've done. It felt selfish to leave the team for a reason none other than "I needed time away". That was a year ago. Since then I've had more time to reflect on life and importantly, development.
  
  ### Juicy details
  You might notice that the new site has a bunch of links to various web services. I'm pulling my "about the author" image from twitter, "upcoming events" from upcoming, projects from github, presentations from slideshare, links from delicious and images from flickr - all using [Smoke](http://github.com/benschwarz/smoke), not only that, but I do so using only about 45 lines of source code. 
  
  #### Smoke
  Inspired by Yahoo's "Pipes" but frustrated with the strange act of dragging elements around the screen and knowing what I wanted to but finding that I could probably write a custom parser _faster_. A vast majority of the research or 'learning' projects that I've put together consume web services, now I can pull services together, mash them up, cut them to pieces and re-interpret the web the way I feel it should be.
  
  #### Articles
  The article facet of this site is pinched straight from [Tim Lucas' site](http://github.com/toolmantim/toolmantim/), I dropped it in, it worked, [I drank beer](https://twitter.com/benschwarz/statuses/2934620984).
  
  #### Hosting
  I typed a series of commands (maybe, 5?) and my site was running on Heroku. Job done. I'll probably leave the beer alone tonight though.
  
  
  #### Comments
  For now, I'm going to run without comments, if you've got something to stay ensure that you drop me a line, I'd love to hear about it.
  
  ### In closing
  A web site is never "done", I hope to evolve this site and keep it as fresh as I can for as long as I can (using technology, of course). Perhaps I'll end up writing better... God, I failed english in high school because I preferred to skip it to eat chinese and play pool with my friends. 