-# title: Stop writing plans
-# published: 2010-04-05
-# excerpt: We all have great ideas, but to be fair to our craft, sometimes we have to forget them. 
- # keywords: software, design, planning, clients, web development
.column.eight
  :smartypants
    I'm often surprised when a client or co-worker decides to record the plans we've made during a feature design session.
    Seen someone take a photo of the whiteboard? How many times have you actually ever referenced those whiteboard photos? 
    
    I think I can personally count the occasions on one hand.
    
    From what I've seen over the last few years of developing web applications is that the cream always rises to the top. That is, if you've discussed an idea through its courses enough with your team, everyone should be able to coherently dictate the concept.

    If your team can't hold the mechanics (not the scope) of what they're building in their heads, you're either doing too much or what you're doing is just too complicated. Simplify, and try again.

    Of course, there are always details that the project leads need to discuss in detail and occasionally put into words. But it should never impede on the creative process.

    Recording an idea is like making a contract to a business that you will indeed one day build a feature, this can be vastly damaging to the development of an idea or a business, and its why we see toolbars like this.

    !["The TinyMCE demo toolbar"](http://img.skitch.com/20100405-dwa548t42tyrhm68mqgnie95j6.jpg)

    "Good ideas" can skew your goals and cause you to miss your market. Skeptics will say "Well, I have to tell our customers what we're delivering.", and sure, I get it. Really, they're thinking about it the wrong way around. 
    
    Write down the user story or scenario, not the end result of the implementation. If it still applies in 6 months, go for it. 
    
    We all have great ideas, but to be fair to our craft, sometimes we have to forget them. 